h1{
	font-size: 7.5vw;
	color: green;
}	

h4{
	font-size: 2vw;
	font-style: italic;
}	

h1, h2, h3, h4, h5, h6{
	font-family: Verdana, sans-serif;
	font-style: bold;
}

td{
	width:25%;
}

table{
	width:80%;
}

body{
	font-family: Georgia, sans-serif;
	font-size: 25px;
}	

#indexBody{
	color: white;
	text-align: center;
	background-color: black;
}

#petBody{
	background-image: url('images/doggosmall.jpg');
	font-size: 25px;
}

#townBody{
	background-color:#90ff4a;
	font-size: 25px;
}

#townImage{
	width: 200px;
}

figure{
	float:right;
	background-image: url('images/doggosmall.JPG');
}

A{
	text-decoration: none;
}

nav{
	border: dotted;
	text-align: center;
}

.nextButton{
	float:right;
	font-size:60px;
}

.surpriseButton{
	font-size: 60px;
}

.homeButton{
	float:left;
	font-size: 60px;
}

.backImage{
	height: 100%;
}

.pictureButton{
	width: 100%;
}

#buttonDiv{
	margin: 0;
}
